################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LATA.MTC.PublicSite/FSP MTC Web Application/.vs/MTC.FSP.Web/v16/Server/sqlite3
