<Config>
<Version>2.6.0</Version>
<ServerConnectTimeoutMillis>10000</ServerConnectTimeoutMillis>
<ClientPort>9017</ClientPort>
<ServerPort>9018</ServerPort>
<ServerIP>38.124.164.211</ServerIP>
<SFTPServerIP>38.124.164.213</SFTPServerIP>
<SocketTimeoutMillis>10000</SocketTimeoutMillis>
<FileUpdateTempFileLocation>/lata/fileupdate/</FileUpdateTempFileLocation>
<RequiredINetInterface>eth0</RequiredINetInterface>
<MyIP>127.0.0.1</MyIP>
<LogFileName>/lata/logs/fterm.log</LogFileName>
<StateFileName>/lata/config/fterm.props</StateFileName>
<UpdatePacketSize>2048</UpdatePacketSize>
<ClientConnectTimeoutMillis>10000</ClientConnectTimeoutMillis>
<GpsRate>5</GpsRate>
<IgnTimeoutSecs>2400</IgnTimeoutSecs>
<BillStartDay>20</BillStartDay>
<AutoLogOffTime>23:00</AutoLogOffTime>
</Config>
