@{
    ViewBag.Title = "In-Vehicle Contractor Trouble Ticket Portal";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>In-Vehicle Contractor Trouble Ticket Portal</h2>
        <br />
        <div class="btn-group">
            <a href="~/TroubleTickets/InVehicleContractorPortalInVehicleEquipmentGeneral" class="btn btn-default btn-lg">In-Vehicle Equipment General</a>
            <a href="~/TroubleTickets/InVehicleContractorPortalInVehicleEqupmentLATATrax" class="btn btn-default btn-lg">In-Vehicle Equipment LATATrax</a>
            <a class="btn btn-default btn-lg" href="~/TroubleTickets/AtVehicle">At Vehicle</a>
        </div>
    </div>
</div>