
@{
    ViewBag.Title = "Tow Contractor Trouble Ticket Portal";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Tow Contractor Trouble Ticket Portal</h2>
        <br />
        <div class="btn-group">
            <a href="~/TroubleTickets/TowContractorPortalMechanical" class="btn btn-default btn-lg">Mechanical/Truck Out of Service</a>
            <a href="~/TroubleTickets/TowContractorPortalInVehicleEquipmentGeneral" class="btn btn-default btn-lg">In-Vehicle Equipment General</a>
            <a href="~/TroubleTickets/TowContractorPortalInVehicleEqupmentLATATrax" class="btn btn-default btn-lg">In-Vehicle Equipment LATATrax</a>
            <a href="~/TroubleTickets/TowContractorPortalBackInService" class="btn btn-default btn-lg">Back In-Service</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>LATATrax Links for Contractors</h2>
        <br />
        <a href="~/BackupTrucks/RequestBackup">Back-up Truck Request</a><br />
        <a href="~/Merchandise/Order">Merchandise Ordering</a>
    </div>
</div>