<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--DEV-->
    <!--<add name="MTCDatabase" connectionString="Data Source=38.124.164.213\octa,5815;Initial Catalog=MTCDB;User ID=sa;Password=J@bb@Th3Hu22" providerName="System.Data.SqlClient" />
    <add name="MTCDBEntities" connectionString="metadata=res://*/Models.MTCDatabase.csdl|res://*/Models.MTCDatabase.ssdl|res://*/Models.MTCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.124.164.213\octa,5815;initial catalog=MTCDB;user id=sa;password=J@bb@Th3Hu22;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 
    <!--STAG-->
    <!--<add name="MTCDatabase" connectionString="Data Source=38.124.164.212\octa,5815;Initial Catalog=MTCDB;User ID=sa;Password=J@bb@Th3Hu22" providerName="System.Data.SqlClient" />
    <add name="MTCDBEntities" connectionString="metadata=res://*/Models.MTCDatabase.csdl|res://*/Models.MTCDatabase.ssdl|res://*/Models.MTCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.124.164.212\octa,5815;initial catalog=MTCDB;user id=sa;password=J@bb@Th3Hu22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--PROD-->
    <add name="MTCDatabase" connectionString="Data Source=38.124.164.211\octa,5815;Initial Catalog=MTCDB;User ID=sa;Password=C@pt@1n@mer1c@" providerName="System.Data.SqlClient" />
    <add name="MTCDBEntities" connectionString="metadata=res://*/Models.MTCDatabase.csdl|res://*/Models.MTCDatabase.ssdl|res://*/Models.MTCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.124.164.211\octa,5815;initial catalog=MTCDB;user id=sa;password=C@pt@1n@mer1c@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--JON local-->
    <!--<add name="MTCDatabase" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MTCDB;User ID=sa;Password=Nosce_Te" providerName="System.Data.SqlClient" />
    <add name="MTCDBEntities" connectionString="metadata=res://*/Models.MTCDatabase.csdl|res://*/Models.MTCDatabase.ssdl|res://*/Models.MTCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=MTCDB;user id=sa;password=Nosce_Te;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--TOLGA local-->
    <!--add name="MTCDatabase" connectionString="Data Source=(local)\Dev;Initial Catalog=MTCDB;User ID=sa;Password=ktk197^" providerName="System.Data.SqlClient" />
    <add name="MTCDBEntities" connectionString="metadata=res://*/Models.MTCDatabase.csdl|res://*/Models.MTCDatabase.ssdl|res://*/Models.MTCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\Dev;initial catalog=MTCDB;user id=sa;password=ktk197^;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->

    <add name="MTCMotoristSurveysEntities" connectionString="metadata=res://*/Models.MTCMSDatabase.csdl|res://*/Models.MTCMSDatabase.ssdl|res://*/Models.MTCMSDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=38.124.164.213\octa,5815;initial catalog=MTCMotoristSurveys;persist security info=True;user id=sa;password=J@bb@Th3Hu22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
            
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="OtherDataCalls" duration="60" varyByParam="None" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITowTruckService" 
                 maxReceivedMessageSize="2147483647" 
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:9017/TowTruckService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITowTruckService"
                contract="TowTruckServiceRef.ITowTruckService"
                name="BasicHttpBinding_ITowTruckService" />-->
      <endpoint address="http://38.124.164.212:9017/TowTruckService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITowTruckService"
                contract="TowTruckServiceRef.ITowTruckService"
                name="BasicHttpBinding_ITowTruckService" />
      <!--<endpoint address="http://38.124.164.213:9017/TowTruckService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_ITowTruckService" 
                contract="TowTruckServiceRef.ITowTruckService" 
                name="BasicHttpBinding_ITowTruckService" />-->
      <!--<endpoint address="http://38.124.164.211:9017/TowTruckService.svc"
               binding="basicHttpBinding"
               bindingConfiguration="BasicHttpBinding_ITowTruckService"
               contract="TowTruckServiceRef.ITowTruckService"
               name="BasicHttpBinding_ITowTruckService" />-->      
    </client>
  </system.serviceModel>  
</configuration>