@{
    ViewBag.Title = "Beats & Call Signs";
}


<link href="~/Content/footable.core.min.css" rel="stylesheet" />

<div ng-app="mtcApp">
    <div ng-controller="beatCallSignsController" ng-cloak>
        <div class="row">
            <div class="col-sm-6">
                <h2>Beats & Call Signs <i class="fa fa-spinner fa-spin" ng-show="isBusy"></i></h2>
                @Html.ActionLink("Back to Tables", "Index", "Tables")
            </div>
            <div class="col-sm-6">
                <br />
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover footable">
                    <thead>
                        <tr>
                            <th data-toggle="true" data-sort-initial="true">
                                Beat Number
                            </th>
                            <th>
                                Call Signs
                            </th>
                            <th>
                                On Call Areas
                            </th>
                            <th>
                                Freq
                            </th>
                            <th>
                                CHP Area
                            </th>
                            <th data-sort-ignore="true"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="b in beatCallSigns">
                            <td ng-bind="b.BeatNumber"></td>
                            <td>
                                <div ng-repeat="c in b.CallSigns">{{c.CallSign}}</div>
                            </td>
                            <td ng-bind="b.OnCallAreas"></td>
                            <td ng-bind="b.Freq"></td>
                            <td ng-bind="b.CHPArea"></td>
                            <td>
                                <div class="pull-right">
                                    <a ng-href="~/BeatCallSigns/Manage?BeatId={{b.BeatId}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                    @*<a ng-href="~/CHPOfficers/Delete/{{c.Id}}" class="btn btn-danger"><i class="fa fa-remove"></i></a>*@
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="text-center">
                                <div class="paging">
                                    <ul class="pagination pagination-sm"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/appAngular")

    <script src="~/app/controllers/beatCallSignsController.js"></script>
    <script src="~/app/services/beatsService.js"></script>


    <script src="~/Scripts/footable.all.min.js"></script>

    <script>
        $(function () {
            $('.footable').footable();
        });
    </script>
}