@model MTC.FSP.Web.Models.LocationAbbreviation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this location abbreviation?</h3>
<div>
    <h4>"@Model.Position"</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="~/LocationAbbreviations/Index" class="btn btn-default">Cancel</a>
        </div>
    }
</div>
