<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="160"></sessionState> 
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Logon.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>