
@{
    ViewBag.Title = "Welcome";
}
<div class="row">
    <div class="col-md-12">
        <div class="well well-lg">
            <h2>Welcome @HttpContext.Current.User.Identity.Name</h2>
            You've successfully registered. An administrator will shortly assign you the appropriate permissions.
        </div>
    </div>
</div>


