<td ng-bind="truck.beatNumber"></td>
<td ng-bind="truck.callSign"></td>
<td ng-bind="truck.truckNumber"></td>
<td ng-bind="truck.vehicleType"></td>
<td ng-bind="truck.driverName"></td>
<td ng-bind="truck.contractorName"></td>
<td ng-bind="truck.location"></td>
<td>
    <img ng-src="{{truck.vehicleStateIconUrl}}" alt="" /> {{truck.vehicleState}}
</td>
<td ng-bind="truck.speed"></td>
<td ng-bind="truck.lastMessage"></td>
<td ng-bind="truck.speedingValue"></td>
<td ng-bind="truck.speedingTime"></td>
<td ng-bind="truck.heading"></td>
<td ng-bind="truck.ipAddress"></td>